
.chatContainer {
  height: 425px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.noMessages {
  text-align: center;
  color: #a0aec0;
}

/* responsize styles */

@media (max-width: 768px) {
  .chatContainer {
    height: 450px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .chatContainer {
    height: 450px;
    padding: 10px;
  }
}

  