
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 20px;
  border: 1px solid #cbd5e0;
  border-radius: 14px;
}

.input:focus {
  outline: none;
}

.button {
  padding: 20px 20px;
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.button:hover {
  background-color: #A24857;
}

.button:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

.typeLoader {
  background-color: #a0aec0;
  border-radius: 10px;
}

/* loading spinner */

.loadingContainer {
  display: flex;
  align-items: center;
}

.loadingText {
  font-size: 14px;
  color: #FF0000;
  margin-left: 10px;
  animation: fadeIn 1s ease-in-out infinite;
}

@keyframes fadeIn {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

/* responsive styles */
@media (max-width: 768px) {
  .inputContainer {
    padding: 8px 15px;
  }

  .input {
    font-size: 14px;
    padding: 8px 12px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .loadingText,
  .errorText {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .inputContainer {
    padding: 5px 10px;
  }

  .input {
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 12px;
  }

  .button {
    font-size: 12px;
    padding: 10px 12px;
  }

  .loadingText,
  .errorText {
    font-size: 10px;
  }
}