
.userMsg {
    align-self: flex-end;
    background-color: #FF0000;
    color: white;
    border-radius: 17px;
    margin: 5px 0;
    max-width: 80%;
}
  
.botMsg {
    align-self: flex-start;
    background-color: #e2e8f0;
    color: #2d3748;
    border-radius: 17px;
    margin: 5px 0;
    max-width: 80%;
}

.message {
    padding: 0px 20px;
    word-wrap: break-word;
}

/* responsive styles */
  

@media (max-width: 768px) {
    .message {
      font-size: 14px;
      padding: 2px 14px;
      max-width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .message {
      font-size: 13px;
      padding: 4px 14px;
      max-width: 100%;
    }
  }