
.userMsg {
    align-self: flex-end;
    background-color: #3182ce;
    color: white;
    border-radius: 17px;
    margin: 5px 0;
    max-width: 80%;
}
  
.botMsg {
    align-self: flex-start;
    background-color: #e2e8f0;
    color: #2d3748;
    border-radius: 17px;
    margin: 5px 0;
    max-width: 80%;
}

.message {
    padding: 0px 20px;
    word-wrap: break-word;
}
  